body{
    margin: 0;
    padding: 0;
}

/* welcome message styling start */
.welcome-message, .gallery{
    background-color: #b9d7ea;
    color: #555555;
    padding-top: 2rem;
    text-align: center
}
.img-respond img{
    width: 350px;
    height:350px;

}
/* welcome message styling end */

/* About me styling start */
#aboutme{
    padding: 2% 7%;
    color: #5e5e5e;
}
#aboutme h4{
    color: #5e5e5e;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
}
#aboutme  ul{
    list-style: none;
    padding-top: 1em;
    font-size: 16px;
}
#aboutme  ul li{
    padding-bottom: 15px;
}
#aboutme img{
    width: 100%;
    height: 80%;
    border-radius: 10px;
}
/* About me styling end */

/* galler styling start */
.gallery img{
 width: 100%;
 padding: 1em;
 border-radius: 20px;
 height: 85%
}

/* footer styling */
#footer{
    padding: .5em;
    color: #ccc;
    text-align: center;
}
